{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class = 'row'>
            <div class='col'>
                <h1 class='wrapper text-center'><u>Naming Compounds</u></h1>
                <div class="row">
                    <div class="col">
                        <div class = 'wrapper text-center'>
                            <h1><u>Tutorials</u></h1>
                            <h2>Select a topic:</h2>
                            <div class=btn-group-vertical>
                                <a href="ionicnamingtutorial/1" class="btn btn-success" role="button">Names from Formulas (Ionic)</a>
                                <a href="covalentnamingtutorial/1" class="btn btn-success mb-2" role="button">Names from Formulas (Covalent/Molecular)</a>
                                <a class="btn btn-success" href="ffntutorial/1" role="button">Formulas from Names (Ionic)</a>
                                <a class="btn btn-success" href="ffntutorial/2" role="button">Formulas from Names (Covalent/Molecular)</a>
                            </div>
                        </div>
                    </div>
                    <div class = 'col'>
                        <div class='wrapper text-center'>
                            <h1><u>Practice</u></h1>
                            <h2>Select an option:</h2>
                            <div class=btn-group-vertical>
                                <a href="namesfromformulas/ionic" class="btn btn-primary" role="button">Names from Formulas (Ionic)</a>
                                <a href="namesfromformulas/molecular" class="btn btn-primary mb-2" role="button">Names from Formulas (Covalent/Molecular)</a>
                                <a class="btn btn-primary" href="formulasfromnames/ionic" role="button">Formulas from Names (Ionic)</a>
                                <a class="btn btn-primary mb-2" href="formulasfromnames/molecular" role="button">Formulas from Names (Covalent/Molecular)</a>
                                <a href="allnaming" class="btn btn-danger" role="button">Practice All Naming</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}  