{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class = 'row'>
            <div class='col'>
                <h1 align="center"><u>Naming Compounds</u></h1>
                <div class="row">
                    <div class="col">
                        <div class = 'wrapper text-center'>
                            <h1><u>Tutorials</u></h1>
                            <h2>Select a topic:</h2>
                            <div class=btn-group-vertical>
                                <a class="btn btn-success" href="/" role="button">Formulas from Names</a>
                                <a href="/" class="btn btn-success" role="button">Names from Formulas</a>
                            </div>
                        </div>
                    </div>
                    <div class = 'col'>
                        <div class='wrapper text-center'>
                            <h1><u>Practice</u></h1>
                            <h2>Select an option:</h2>
                            <div class=btn-group-vertical>
                                <a class="btn btn-primary" href="formulasfromnames" role="button">Formulas from Names</a>
                                <a href="namesfromformulas" class="btn btn-primary" role="button">Names from Formulas</a>
                                <a href="allnaming" class="btn btn-primary" role="button">Practice All Naming</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}  